# Python/Playwright/Allure/VSCode ignores
.env
.venv/
__pycache__/
allure-results/
*.pyc
archive/
.DS_Store
result.txt
test_run.log
*.log
.ipynb_checkpoints/
.vscode/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# OS-specific
Thumbs.db
